version: 2
updates:
  - package-ecosystem: 'npm'
    directory: '/'
    schedule:
      interval: 'weekly'
      day: "wednesday"

  - package-ecosystem: 'github-actions'
    directory: '/'
    schedule:
      interval: 'monthly'
